.calculator {
    width: 14rem;
    border: 2px solid black;
    background-image:url('background.jpg');
    background-position: center;
    background-size: cover;
}

.display {
    height: 3rem;
    text-align: right;
    flex-wrap: wrap;
    background: black;
    color: white;
    font-weight: bold;
}

.display-aux {
    font-size: 0.8rem;
}

.display-value{
    font-size: 1.5rem;
}

.buttons {
    width: 14rem;
    display: flex;
    flex-wrap: wrap;
}

button {
    width: 3.5rem;
    height: 3rem;
    font-size: 1.2rem;
    color: white;
    background-color: transparent;
    border: 1px solid black;
}

button:hover {
    background-color: rgb(82, 0, 0);
}

button:active {
    background-color: black;
}

.spaced {
    width: 7rem;
}
